<title>Manage Cards - Unified Electronic Identification System</title>

<span id="identity" hidden>4</span>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h5>Manage ID Cards</h5>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">{{name}}</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">{{role}}</button>
    </div>
  </div>
</div>

<!-- Manage cards -->
<div id="manage_cards">
  <div class="table-responsive">
    <table class="table table-striped table-sm display nowrap" id="cards_table" style="width:100%">
      <tbody>
        {{#each cards}}
        <tr>
          <td>{{dataValues.card_id}}</td>
          <td>{{dataValues.ueis_id}}</td>
          <td>{{dataValues.created_at}}</td>
          <td>{{dataValues.status}}</td>
          <td>
            {{#equals dataValues.status 'active'}}
              <button class="actionBtn" id="{{dataValues.card_id}}">Block</button>
            {{/equals}}
            {{#equals dataValues.status 'blocked'}}
              <button class="actionStatus" id="{{dataValues.card_id}}">Activate</button>
            {{/equals}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

