<title>Manage Users - Unified Electronic Identification System</title>


<span id="identity" hidden>2</span>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h5>Manage Users</h5>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">{{name}}</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">{{role}}</button>
    </div>
  </div>
</div>


<!-- Manage Users -->
<div id="manage_users">
  <div class="table-responsive">
    <table class="table table-striped table-sm display nowrap" id="users_table" style="width:100%">
      <tbody>
        {{#each users}}
          <tr>
            <td>{{dataValues.nid}}</td>
            <td>{{dataValues.firstname}} {{dataValues.othername}} {{dataValues.surname}}</td>
            <td>{{dataValues.email}}</td>
            <td>{{dataValues.phone}}</td>
            <td>{{dataValues.created_at}}</td>
            <td>{{dataValues.status}}</td>
            <td>action</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>


